*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4c4;
}
.container{
    background-color: #fff;
    padding: 2rem;
    border-radius: 1rem;
    min-height: 40vh;
    width: 40vh;
}
form{
    margin: 2rem 0 1rem 0;
}
form button,input,select{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.75rem;
}
form input{
    border: 1px solid lightgrey;
    padding-left: 0.5rem;
    height: 3rem;
    font-size: 1rem;
}
.drop-down{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}
.drop-down i {
    font-size: 1.5rem;
    margin-top: 1rem;
}
.select-container img {
    max-width: 2rem;
}
.select-container{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid lightgray;
    border-radius: 0.5rem;
    padding: 0.5rem;
    width: 8rem;
    gap: 1rem;
}
.select-container select{
    width: auto;
    font-size: 1rem;
}
.msg{
    font-size: 1rem;
    margin: 2rem 0 2rem 0;
}
form button{
    height: 3rem;
    background-color: rgb(204, 24, 159);
    color: #fff;
    font-size: 1.1rem;
    cursor: pointer;
}